.box-color-area {
  display: flex;
}

.color-box {
  width: 150px;
  height: 50px;
  border: 2px solid #ccc;
  margin: 20px;
}

.red {
  background-color: red;
}

.easy {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.hard {
  background-color: green;
}
